body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: #c9d1d9;
  line-height: 1.6;
}
.poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1280px;
}

nav {
  background: #22223b;
  color: #fff;
  padding: 10px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background: #4a4e69;
  color: #fff;
}

.hero {
  background: url("assets/images/hero-bg.jpg") no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  margin: 0 auto;
  /* overflow: hidden; */
  max-width: 1280px;
  display: flex;
  text-align: center;
}
.hero-content {
  margin: 0 auto;
  margin-top: 8rem;
}

.hero p {
  color: f2e9e4;
  font-size: 80px;
  margin-bottom: 0px;
}

.hero-btn {
  margin-top: 3.2rem;
}
.hero .btn {
  background: #f2e9e4;
  color: #22223b;
  margin-top: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}

.hero .btn:hover {
  background: #c9ada7;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  border-radius: 10px;
}

.section-title p {
  font-size: 36px;
  color: #c9ada7;
  font-weight: 500;
}
.project-type {
  font-size: 1.5rem;
  color: #c9ada7;
  border-bottom: 1px solid rgb(247, 90, 90);
}
.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.about,
.experience,
.projects,
.education,
.contact {
  padding: 10px 0;
  border-radius: 10px;
  background-color: #0d1b2a;
  margin-bottom: 40px;
}

.about-content,
.experience-content,
.projects-content,
.education-content,
.contact-content {
  border-radius: 10px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.about-text {
  flex: 1;
  border-radius: 10px;
  padding: 20px;
  background-color: #4a4e69;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 70%;
  border-radius: 50%;
}

.experience-content .job {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #4a4e69; /*all bc */
}

.experience-content .job h3 {
  font-size: 28px;
  color: #58a6ff; /*all bc */
  margin-bottom: 0px;
  margin-top: 2px;
}

.experience-content .job span {
  display: block;
  margin-bottom: 10px;
}

.projects-content .project-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4a4e69;
}
.project-item {
  margin: 5px;
}
.project-tittle a {
  font-size: 28px;
  color: #58a6ff;
  margin-bottom:0px;
  padding-left:15px;
  text-decoration: none;
}

.education-content .education-item {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #4a4e69;
}

.education-content .education-item h3 {
  margin-top: 3px;
  font-size: 28px;
  color: #58a6ff;
  margin-bottom: 0px;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  background-color: #0d1117;
}

.contact-content form input,
.contact-content form textarea {
  padding: 10px;
  margin-bottom: 15px;
  height:25px;
  border: 1px solid #c9d1d9;
  background-color: #161b22;
  color: #c9ada7;
  border-radius: 5px;
}

.contact-content form .btn {
  background: #238636;
  color: #c9ada7;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.contact-content form .btn:hover {
  background: #2ea043;
}

footer {
  background: #161b22;
  color: #c9ada7;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  border-radius: 10px;
}

section {
  opacity: 0;
  transform: translateY(50px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    filter 0.6s ease-out;
  border-radius: 10px;
}

section.in-view {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.section-transition {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    filter 0.6s ease-out;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .hero h2 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .about-text,
  .about-image {
    width: 100%;
  }

  .about-image {
    margin-top: 20px;
  }

  .experience-content .job h3,
  .projects-content .project-item h3,
  .education-content .education-item h3 {
    font-size: 24px;
  }
}
